@using WebUI.Models
@model IEnumerable<Article>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



@foreach(var article in Model)
{
    <p>@article.Title</p><br />
    
    @Html.ActionLink("Посмотреть", "Single", "Home", new { id = article.ArticleID }, null)
    <br />
    

    @Html.ActionLink("Изменить", "ModifiArticle", "Article", new { id = article.ArticleID }, null);

}


<br />
@Html.ActionLink("Вперёд", "Index", "Home", new { id = ViewBag.Page + 1}, null) <br />
@Html.ActionLink("Назад", "Index", "Home", new { id = ViewBag.Page - 1 }, null)<br />

