
@{
    ViewBag.Title = "AddArticle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавление статьи</h2>

@ViewBag.Message

@using (Html.BeginForm("AddArticle", "Article", FormMethod.Post))
{

   
    <p>Введите заголовок</p>
    @Html.TextBox("Title","") <br />
    <p>Введите описание статьи</p>
    @Html.TextArea("Description", "", 2, 30, null)<br />
    <p>Введите текст статьи</p>
    @Html.TextArea("Text", "", 5, 50, null)<br />
    @Html.Hidden("Rating", "0")
   
    <input type="submit" value="Отправить" />
}

        

